<div id="contato" class="isolate bg-gray-900 text-white px-6 py-24 sm:py-32 lg:px-8">
  <div class="mx-auto grid max-w-6xl grid-cols-1 gap-16 lg:grid-cols-2">
    <!-- Left Column: Contact Information -->
    <div class="flex flex-col justify-center">
      <h2 class="text-4xl font-semibold tracking-tight text-center lg:text-left sm:text-5xl">Fale comigo</h2>
      <p class="mt-4 text-lg text-center lg:text-left text-gray-300">Entre em contato comigo diretamente por e-mail, telefone ou preencha o formulário para entrar em contato</p>
      <div class="mt-8 space-y-4">
        <p class="text-center lg:text-left"><strong>Email:</strong> <a href="mailto:felipedgart@gmail.com" class="text-indigo-400 hover:text-indigo-300"> felipedgart&#64;gmail.com</a></p>
        <p class="text-center lg:text-left"><strong>Telefone:</strong> <a href="tel:+5592984520381" class="text-indigo-400 hover:text-indigo-300"> (92) 98452-0381</a></p>
      </div>
    </div>

    <!-- Right Column: Simplified Contact Form -->
    <form [formGroup]="contatoForm" (ngSubmit)="onSubmit()" class="mx-auto w-full max-w-xl">
      <div class="grid grid-cols-1 gap-y-6">
        <!-- Nome -->
        <div>
          <label for="nome" class="block text-sm font-semibold text-gray-200">Nome</label>
          <div class="mt-2.5">
            <input type="text" id="nome" formControlName="nome" autocomplete="name" placeholder="Seu nome" class="block w-full rounded-md bg-gray-800 px-3.5 py-2 text-base text-gray-300 placeholder-gray-500 focus:outline-indigo-400">
            <div *ngIf="contatoForm.get('nome')?.invalid && contatoForm.get('nome')?.touched" class="text-red-500 text-sm">
              Nome é obrigatório.
            </div>
          </div>
        </div>

        <!-- Email -->
        <div>
          <label for="email" class="block text-sm font-semibold text-gray-200">Email</label>
          <div class="mt-2.5">
            <input type="email" id="email" formControlName="email" autocomplete="email" placeholder="seuemail@mail.com" class="block w-full rounded-md bg-gray-800 px-3.5 py-2 text-base text-gray-300 placeholder-gray-500 focus:outline-indigo-400">
            <div *ngIf="contatoForm.get('email')?.invalid && contatoForm.get('email')?.touched" class="text-red-500 text-sm">
              Email inválido.
            </div>
          </div>
        </div>

        <!-- Telefone -->
        <div>
          <label for="telefone" class="block text-sm font-semibold text-gray-200">Telefone</label>
          <div class="mt-2.5">
            <input type="text" id="telefone" formControlName="telefone" autocomplete="tel" placeholder="(00) 00000-0000" class="block w-full rounded-md bg-gray-800 px-3.5 py-2 text-base text-gray-300 placeholder-gray-500 focus:outline-indigo-400">
            <div *ngIf="contatoForm.get('telefone')?.invalid && contatoForm.get('telefone')?.touched" class="text-red-500 text-sm">
              Telefone é obrigatório.
            </div>
          </div>
        </div>

        <div>
          <label for="message" class="block text-sm font-semibold text-gray-200">Mensagem</label>
          <div class="mt-2.5">
            <textarea name="message" id="message" formControlName="message" class="block w-full rounded-md bg-gray-800 px-3.5 py-2 text-base text-gray-300 placeholder-gray-500 focus:outline-indigo-400"></textarea>
            <div *ngIf="contatoForm.get('message')?.invalid && contatoForm.get('message')?.touched" class="text-red-500 text-sm">
              Deixe sua mensagem
            </div>
          </div>
        </div>
      </div>

      <!-- Botão de envio -->
      <div class="mt-10">
        <button type="submit" [disabled]="contatoForm.invalid" class="block w-full rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus:outline-indigo-400">
          Enviar
        </button>
      </div>

      <div *ngIf="successMessage" class="mt-4 p-4 bg-green-500 text-white rounded-md">
        {{ successMessage }}
      </div>

      <div *ngIf="errorMessage" class="mt-4 p-4 bg-red-500 text-white rounded-md">
        {{ errorMessage }}
      </div>



    </form>
  </div>
</div>
