@keyframes moveBackground {
  0% {
    transform: translateX(-20px) translateY(-10px) rotate(30deg);
  }

  50% {
    transform: translateX(20px) translateY(10px) rotate(30deg);
  }

  100% {
    transform: translateX(-20px) translateY(-10px) rotate(30deg);
  }
}

/* Aplicando a animação */
.animated-bg {
  animation: moveBackground 3s ease-in-out infinite;
}

@keyframes movePicture {
  0% {
    transform: translateX(0px) translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateX(3px) translateY(4px) rotate(0deg);
  }

  100% {
    transform: translateX(0px) translateY(0px) rotate(0deg);
  }
}

.animafoto-1 {
  animation: movePicture 3s ease-in-out infinite;
}

