


<div class="bg-white dark:bg-slate-800">
  <header class="absolute inset-x-0 top-0 z-50 ">
    <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
      <div class="flex lg:flex-1">
        <a href="#" class="-m-1.5 p-1.5">
          <img style="border-radius: 1rem;" class="h-8 w-auto" src="assets/images/ft-perfil.jpeg" alt="">
        </a>
      </div>
      <div class="flex lg:hidden">
        <button (click)="openMenu()" class="lg:hidden p-2 text-gray-300">
          <span class="sr-only">Open menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6h16.5M3.75 12h16.5M3.75 18h16.5" />
          </svg>
        </button>
      </div>
      <div class="hidden lg:flex lg:gap-x-12">
        <a href="#sobre" class="text-sm/6 font-semibold text-gray-100">Sobre Mim</a>
        <a href="#contato" class="text-sm/6 font-semibold text-gray-100">Contato</a>
        <a href="#projetos" class="text-sm/6 font-semibold text-gray-100">Projetos</a>
        <a href="https://github.com/felip-araujo" class="text-sm/6 font-semibold text-gray-100">Github</a>
      </div>
      <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      </div>
    </nav>

    <!-- Menu móvel -->
    <div #mobileMenu (click)="closeMenuOnClickOutside($event)" class="lg:hidden fixed inset-0 z-50 hidden">
      <div class="fixed inset-0 bg-gray-800 bg-opacity-70"></div>
      <div class="fixed inset-y-0 right-0 w-full max-w-sm bg-white px-6 py-6 overflow-y-auto">
        <div class="flex items-center justify-between">
          <a href="#" class="-m-1.5 p-1.5">
            <span class="sr-only">Your Company</span>
            <img class="h-8 w-auto" src="https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=600"
              alt="Logo">
          </a>
          <button (click)="closeMenu()" class="-m-2.5 rounded-md p-2.5 text-gray-700">
            <span class="sr-only">Close menu</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
              aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="mt-6">
          <nav class="space-y-2">
            <a href="#sobre"
              class="block rounded-lg px-3 py-2 text-base font-semibold text-gray-900 hover:bg-gray-50">Sobre Mim</a>
            <a href="#contato"
              class="block rounded-lg px-3 py-2 text-base font-semibold text-gray-900 hover:bg-gray-50">Contato</a>
            <a href="#projetos"
              class="block rounded-lg px-3 py-2 text-base font-semibold text-gray-900 hover:bg-gray-50">Projetos</a>
            <a href="https://github.com/felip-araujo"
              class="block rounded-lg px-3 py-2 text-base font-semibold text-gray-900 hover:bg-gray-50">Github</a>
          </nav>
          <div class="mt-6">

          </div>
        </div>
      </div>
    </div>
  </header>,

  <div class="relative isolate px-6 pt-14 lg:px-8">
    <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
      <div
      class="relative animated-bg left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
      style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
    </div>
    </div>
    <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
      <div class="hidden sm:mb-8 sm:flex sm:justify-center"></div>
      <div class="text-center">
        <h1 class="animate__animated animate__fadeIn text-balance text-5xl font-semibold tracking-tight text-white sm:text-7xl">
          Soluções que refletem confiança
        </h1>
        <p class="animate__animated animate__fadeIn mt-8 text-pretty text-lg font-medium text-gray-300 sm:text-xl/8">
          Meu nome é <strong>Felipe Araujo</strong> e eu desenvolvo soluções digitais personalizadas unindo Angular, PHP e Node.Js para criar sites e sistemas.
        </p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a href="#"
            class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            Fale comigo
          </a>
          <a href="#sobre" class="text-sm/6 font-semibold text-gray-100">
            Saiba mais <span aria-hidden="true">→</span>
          </a>
        </div>
      </div>
    </div>
    <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
      aria-hidden="true">
      <div
        class="relative animated-bg left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
      </div>
    </div>
  </div>


<div id="skills" class="bg-gray-100 py-24 sm:py-32" >
  <div class="mx-auto max-w-7xl px-6 lg:px-8" data-aos="fade-up" data-aos-duration="1500">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="text-base/7 font-semibold text-indigo-600">Habilidades</h2>
      <p class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl lg:text-balance">
        Tudo o que você precisa que eu saiba</p>

    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
        <div class="relative pl-16">
          <dt class="text-base/7 font-semibold text-gray-900">
            <div class="absolute left-0 top-0 flex size-10 items-center justify-center rounded-lg bg-indigo-600">
              <i style="color: white;" class="fa-brands fa-github"></i>
            </div>
            Github
          </dt>
          <dd class="mt-2 text-base/7 text-gray-600">Possuo sólida experiência em GitHub, gerenciando repositórios, colaborando em projetos e versionando códigos de forma eficiente.</dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base/7 font-semibold text-gray-900">
            <div class="absolute left-0 top-0 flex size-10 items-center justify-center rounded-lg bg-indigo-600">
              <i style="color: white;" class="fa-solid fa-code"></i>
            </div>
            Código Limpo
          </dt>
          <dd class="mt-2 text-base/7 text-gray-600">Desenvolvo códigos limpos e organizados, focados em boas práticas, manutenção facilitada e alta qualidade técnica.</dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base/7 font-semibold text-gray-900">
            <div class="absolute left-0 top-0 flex size-10 items-center justify-center rounded-lg bg-indigo-600">
              <i style="color: white;" class="fa-solid fa-database"></i>
            </div>
            Banco de Dados SQL
          </dt>
          <dd class="mt-2 text-base/7 text-gray-600">Tenho experiência prática com bancos de dados relacionais, como MySQL, e não relacionais, garantindo estrutura eficiente e performance."</dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base/7 font-semibold text-gray-900">
            <div class="absolute left-0 top-0 flex size-10 items-center justify-center rounded-lg bg-indigo-600">
              <i style="color: white;" class="fa-brands fa-angular"></i>
            </div>
            Angular
          </dt>
          <dd class="mt-2 text-base/7 text-gray-600">Experiência adquirida no desenvolvimento de aplicações web com Angular, criando interfaces dinâmicas e de alta performance.</dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base/7 font-semibold text-gray-900">
            <div class="absolute left-0 top-0 flex size-10 items-center justify-center rounded-lg bg-indigo-600">
              <i style="color: white;" class="fa-brands fa-php"></i>
            </div>
            PHP
          </dt>
          <dd class="mt-2 text-base/7 text-gray-600">Atuação com PHP no desenvolvimento de sistemas robustos e criação de plugins personalizados para WordPress, garantindo funcionalidade e integração.</dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base/7 font-semibold text-gray-900">
            <div class="absolute left-0 top-0 flex size-10 items-center justify-center rounded-lg bg-indigo-600">
              <i style="color: white;" class="fa-brands fa-wordpress"></i>
            </div>
            Gerenciamento WordPress
          </dt>
          <dd class="mt-2 text-base/7 text-gray-600">Especialização no gerenciamento de sites WordPress, incluindo configuração, customização, otimização de desempenho e manutenção.</dd>
        </div>
      </dl>
    </div>
  </div>
</div>

  <div id="projetos" class="bg-dark-20 py-24 sm:py-32">
    <div class=" mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8" data-aos="fade-up" data-aos-duration="1500">
      <h2 class="text-center text-base/7 font-semibold text-white text-indigo-600">Projetos</h2>
      <p class=" mx-auto mt-2 max-w-lg text-balance text-center text-4xl font-semibold tracking-tight text-white sm:text-5xl">Idéias que Inspiram e Conectam</p>
      <div class="mt-10 grid gap-4 sm:mt-16 lg:grid-cols-3 lg:grid-rows-2">

        <div class="relative lg:row-span-2">
          <div class="absolute inset-px rounded-lg bg-white lg:rounded-l-[2rem]"></div>
          <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] lg:rounded-l-[calc(2rem+1px)]">
            <div class="px-8 pb-3 pt-8 sm:px-10 sm:pb-0 sm:pt-10">
              <p class="mt-2 text-lg font-medium tracking-tight text-gray-950 max-lg:text-center">Site Institucional | Inspetoria Salesiana </p>
              <p class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center">Liderei o redesign do site em colaboração com o time de comunicação, modernizando um site que já estava ativo há mais de 10 anos, com foco na responsividade e funcionalidade.

              </p>
            </div>
            <div class="relative min-h-[30rem] w-full grow [container-type:inline-size] max-lg:mx-auto max-lg:max-w-sm">
              <div class="absolute inset-x-10 bottom-0 top-10 overflow-hidden rounded-t-[12cqw] border-x-[3cqw] border-t-[3cqw] border-gray-700 bg-gray-900 shadow-2xl">
                <img class="size-full object-cover object-top" src="assets/images/01.png" alt="">
              </div>
            </div>
          </div>
          <div class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5 lg:rounded-l-[2rem]"></div>
        </div>
        <div class="relative max-lg:row-start-1">
          <div class="absolute inset-px rounded-lg bg-white max-lg:rounded-t-[2rem]"></div>
          <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] max-lg:rounded-t-[calc(2rem+1px)]">
            <div class="px-8 pt-8 sm:px-10 sm:pt-10">
              <p class="mt-2 text-lg font-medium tracking-tight text-gray-950 max-lg:text-center">Desenvolvimento de Plugin</p>
              <p class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center">

Desenvolvi um plugin para personalização de adesivos SVG, permitindo customização no site, gestão completa (CRUD) e envio de e-mails automáticos.</p>
            </div>
            <div class="flex flex-1 items-center [container-type:inline-size] max-lg:py-6 lg:pb-2">
              <img class="" src="assets/images/plugin-person.jpg" alt="">
            </div>
          </div>
          <div class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5 max-lg:rounded-t-[2rem]"></div>
        </div>
        <div class=" relative max-lg:row-start-3 lg:col-start-2 lg:row-start-2">
          <div class="absolute inset-px rounded-lg bg-white"></div>
          <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)]">
            <div class="px-8 pt-8 sm:px-10 sm:pt-10">
              <p class="mt-2 text-lg font-medium tracking-tight text-gray-950 max-lg:text-center">Sistema Interno | IDPB Filadélfia</p>
              <p class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center">Desenvolvi um sistema com dashboard, login, recuperação de senha e acesso a dados via API. Inclui envio de e-mails e níveis de acesso para gerenciar membros da igreja.</p>
            </div>
            <div class="flex flex-1 items-center [container-type:inline-size] max-lg:py-6 lg:pb-2">
              <img class="" src="assets/images/idpb.png" alt="">
            </div>
          </div>
          <div class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5"></div>
        </div>
        <div class="relative lg:row-span-2">
          <div class="absolute inset-px rounded-lg bg-white lg:rounded-l-[2rem]"></div>
          <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] lg:rounded-l-[calc(2rem+1px)]">
            <div class="px-8 pb-3 pt-8 sm:px-10 sm:pb-0 sm:pt-10">
              <p class="mt-2 text-lg font-medium tracking-tight text-gray-950 max-lg:text-center">Loja Virtual | Império dos Magnésios </p>
              <p class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center">Desenvolvi uma loja virtual para o Império dos Magnésios, com integração de pagamento via API do Mercado Pago e PIX, oferecendo uma experiência de compra segura e eficiente.</p>
            </div>
            <div class="relative min-h-[30rem] w-full grow [container-type:inline-size] max-lg:mx-auto max-lg:max-w-sm">
              <div class="absolute inset-x-10 bottom-0 top-10 overflow-hidden rounded-t-[12cqw] border-x-[3cqw] border-t-[3cqw] border-gray-700 bg-gray-900 shadow-2xl">
                <img class="size-full object-cover object-top" src="assets/images/02.png" alt="">
              </div>
            </div>
          </div>
          <div class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5 lg:rounded-l-[2rem]"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="sobre" class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0">
    <div class="absolute inset-0 -z-10 overflow-hidden" >
      <svg class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]" aria-hidden="true">
        <defs>
          <pattern id="e813992c-7d03-4cc4-a2bd-151760b470a0" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
            <path d="M100 200V.5M.5 .5H200" fill="none" />
          </pattern>
        </defs>
        <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
          <path d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z" stroke-width="0" />
        </svg>
        <rect width="100%" height="100%" stroke-width="0" fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)" />
      </svg>
    </div>
    <div data-aos="fade-up" data-aos-duration="1500" class="  mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
      <div class="  lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
        <div class="lg:pr-4" >
          <div class="lg:max-w-lg" >
            <p class="text-base/7 font-semibold text-indigo-600">Sobre Mim</p>
            <h1 class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">O que me trouxe até aqui</h1>
            <p class="mt-6 text-xl/8 text-gray-700">Sou um desenvolvedor FullStack com ampla experiência em criar soluções digitais completas e robustas. Minha abordagem combina habilidades técnicas de ponta com uma visão estratégica, garantindo que cada projeto não apenas atenda, mas supere as expectativas.</p>
          </div>
        </div>
      </div>
      <div class="-ml-12 -mt-12 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
        <img class=" animafoto-1 w-[48rem] max-w-none rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem] " src="assets/images/felipe-01.png" alt="">
      </div>
      <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
        <div class="lg:pr-4">
          <div class=" max-w-xl text-base/7 text-gray-700 lg:max-w-lg">
            <p>Colaborei com empresas de diferentes segmentos, contribuindo para o desenvolvimento de plataformas personalizadas que aliam desempenho, segurança e escalabilidade. Também lidero a criação e manutenção de websites institucionais, assegurando que cada detalhe esteja alinhado com as melhores práticas do mercado e com as necessidades específicas de cada cliente.</p>
            <p class="mt-8">Se você busca um profissional confiável e experiente para dar vida às suas ideias digitais, entre em contato e vamos conversar! </p>
            <div style="margin-top: .8rem;">
              <a href="#"
            class= "mt-8 rounded-md bg-indigo-600
            px-3.5 py-2.5 text-sm font-semibold text-white
            shadow-sm hover:bg-indigo-500 focus-visible:outline
            focus-visible:outline-2 focus-visible:outline-offset-2
            focus-visible:outline-indigo-600"
                        >Fale comigo</a>
          </div>
            </div>
        </div>
      </div>
    </div>
  </div>

<app-contato>

  <script>
    document.getElementById('loadMore').addEventListener('click', function() {
      const moreProjects = document.getElementById('moreProjects');
      moreProjects.classList.remove('hidden');
      this.style.display = 'none';  // Esconde o botão após clicar
    });
  </script>


